@model IPagedList<MyBookKeeping.Models.ViewModels.RecordViewModel>

@{
    var serialNumber = 1;
    //Layout = "~/Views/Shared/_LayoutMoney.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Category )</th>
                <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Date )</th>
                <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Amount )</th>
            </tr>
            @foreach ( var item in Model )
            {
                <tr>
                    <td>@serialNumber</td>
                    <td>@Html.DisplayFor( x => item.Category )</td>
                    <td>@Html.DisplayFor( x => item.Date )</td>
                    <td>@Html.DisplayFor( x => item.Amount )</td>
                </tr>

                serialNumber++;
            }
        </table>
        @Html.PagedListPager( Model, page => Url.Action( "Index", new { page } ),
       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing( new AjaxOptions( ) { UpdateTargetId = "records_block" } ) )
        共 @(Model.PageCount) 頁 顯示項目：@(Model.FirstItemOnPage) ~ @(Model.LastItemOnPage), 共 @(Model.TotalItemCount) 項
    </div>
</div>