@using MyBookKeeping.Models
@using MyBookKeeping.Models.ViewModels
@model IPagedList<RecordViewModel>

@{
    var serialNumber = 1;
}

@helper tableRawData( int serialNumber, RecordViewModel recordViewModel, string color )
{
    <tr style="color:@color">
        <td>@serialNumber</td>
        <td>@Html.DisplayFor( x => recordViewModel.Category )</td>
        <td>@Html.DisplayFor( x => recordViewModel.Date )</td>
        <td>@Html.DisplayFor( x => recordViewModel.Amount )</td>
    </tr>
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Category )</th>
                <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Date )</th>
                <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Amount )</th>
            </tr>
            @foreach ( var item in Model )
            {
                string color;
                switch ( item.Category )
                {
                    case CategoryEnum.支出:
                        color = "red";
                        break;
                    case CategoryEnum.收入:
                        color = "blue";
                        break;
                    default:
                        throw new ArgumentOutOfRangeException( );
                }

                @tableRawData( serialNumber, item, color )
                serialNumber++;
            }
        </table>
        @Html.PagedListPager( Model, page => Url.Action( "Index", new { page } ),
       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing( new AjaxOptions( ) { UpdateTargetId = "records_block" } ) )
        共 @(Model.PageCount) 頁 顯示項目：@(Model.FirstItemOnPage) ~ @(Model.LastItemOnPage), 共 @(Model.TotalItemCount) 項
    </div>
</div>