@model MyBookKeeping.Models.DataPostModels.AccountRecord

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMoney.cshtml";
}

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jQuery.Validate.Customplugin.js"></script>
}

<div class="container body-content">
    <div class="well form-horizontal" id="form_block">
        @using ( Ajax.BeginForm( new AjaxOptions { UpdateTargetId = "recordsblock", Url = Url.Action( "AjaxPosts" ), HttpMethod = "POST" } ) )
        {
            @Html.AntiForgeryToken( )
            <div class="form-group">
                @Html.LabelFor( m => m.Category, new { @class = "col-sm-2 control-label" } )
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor( m => m.Category, "請選擇", new { @class = "form-control", id = "category" } )
                    @Html.ValidationMessageFor( m => m.Category, "", new { @class = "text-danger" } )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor( m => m.Amount, new { @class = "col-sm-2 control-label" } )
                <div class="col-sm-10">
                    @Html.EditorFor( m => m.Amount, new
               {
                   htmlAttributes = new
                   {
                       type = "number",
                       @class = "form-control",
                       id = "money",
                       placeholder = Html.DisplayNameFor( d => d.Amount ),
                       data_val_number = "需輸入數字"
                   }
               } )
                    @Html.ValidationMessageFor( m => m.Amount, "", new { @class = "text-danger" } )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor( m => m.Date, new { @class = "col-sm-2 control-label" } )
                <div class="col-sm-10">
                    @Html.EditorFor( m => m.Date, new
               {
                   htmlAttributes = new
                   {
                       type = "date",
                       @class = "form-control",
                       id = "date",
                       placeholder = Html.DisplayNameFor( d => d.Date )
                   }
               } )
                    @Html.ValidationMessageFor( m => m.Date, "", new { @class = "text-danger" } )
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor( m => m.Remark, new { @class = "col-sm-2 control-label" } )
                <div class="col-sm-10">
                    @Html.TextAreaFor( m => m.Remark, new { @class = "form-control", id = "description" } )
                    @Html.ValidationMessageFor( m => m.Remark, "", new { @class = "text-danger" } )
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button class="btn btn-default">送出</button>
                </div>
            </div>
        }
    </div>
    <div id="recordsblock">
        @Html.Action( "RenderParialView", "Record" )
    </div>
    <hr />
    <footer>
        <p>
            &copy; 2017 - <a href="#">SkillTree</a>
        </p>
    </footer>
</div>