@model IPagedList<MyBookKeeping.Models.ViewModels.RecordViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMoney.cshtml";
    var serialNumber = 1;
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

@using ( Html.BeginForm( "Index", "Record", FormMethod.Post, new { id = "Records" } ) )
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Category )</th>
                    <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Date )</th>
                    <th>@Html.DisplayNameFor( m => m.FirstOrDefault( ).Amount )</th>
                </tr>
                @foreach ( var item in Model )
                {
                    <tr>
                        <td>@serialNumber</td>
                        <td>@Html.DisplayFor( x => item.Category )</td>
                        <td>@Html.DisplayFor( x => item.Date )</td>
                        <td>@Html.DisplayFor( x => item.Amount )</td>
                    </tr>

                    serialNumber++;
                }
            </table>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.PagedListPager( Model, page => Url.Action( "Index", new { page } ),
            PagedListRenderOptions.ClassicPlusFirstAndLast )
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pagination-sm">
                共 @(Model.PageCount) 頁 顯示項目：@(Model.FirstItemOnPage) ~ @(Model.LastItemOnPage), 共 @(Model.TotalItemCount) 項
            </div>
        </div>
    </div>
}